/* Reseteo general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../img/photo-1577996947118-d820138a697e.avif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

p{
    color: white;
}

/* Carrito de compras */
main.main{
    min-height: 80vh;
    
} 

div.card.text-center{
    margin: 20px;
    max-width: 90%;
    max-height: 50%;
    
} 

a.nav-link.carrito{
    color: white;
}
