html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #081a35,
    #0b172c,
    #0c1324,
    #0b0e1c,
    #070914
  );
}

.navbar {
  color: transparent;
  position: absolute;
  z-index: 1000;
}
.winery {
  position: relative;
  text-align: center;
  color: white;
  transition: transform 5s;
}
.winery:hover {
  transform: scale(102%);
}

@media only screen and (min-width: 800px) {
  .tit-primario {
    color: #fffaed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Dancing Script", cursive;
  }
}

@media only screen and (max-width: 600px) {
  .tit-primario {
    color: #fffaed;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Dancing Script", cursive;
  }
}

@media only screen and (min-width: 800px) {
  .tit-secundario {
    color: #fffffe;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-bottom: 3px double #fffbee;
  }
}

@media only screen and (max-width: 600px) {
  .tit-secundario {
    color: #fffffe;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-bottom: 3px double #fffbee;
  }
}

.contacto {
  color: rgb(252, 252, 252);
  margin: 0 auto;
  margin-top: 2rem;
}

@media only screen and (min-width: 800px) {
  .contacto {
    width: 450px;
  }
}

.form-control {
  background-color: black;
  color: white;
}

input:hover {
  background-color: rgb(52, 51, 51);
}

.back {
  width: 100%;
  box-sizing: border-box;
}

.enviar {
  background-color: black;
  width: 100%;
}

.card-bts :hover {
  box-shadow: 0px 0px 0px grey;
  webkit-transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}

@media only screen and (min-width: 800px) {
  .container {
    width: 50%;
    max-width: 900px !important;
  }
}

/* styles for the about us section */
.about {
  background-color: rgb(20, 26, 45);
  color: white;
}

.about-text {
  margin-left: 0.5vw;
}

/* styles for productos header  */
.productos-header {
  color: white;
}

.btn {
  color: white;
  background-color: black;
}
.variedades {
  position: relative;
}

.footer {
  background-color: rgb(11, 15, 29);
  color: white;
}

.fa-brands {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: xx-large;
  color: white;
}
